
/* cores
   rgb 231, 211, 186 
   rgb 207, 176, 103
   rgb 245, 242, 230
   rgb 190, 129, 11
   175,131, 33
/* adobe color*/ 
/* .header = classe #header = id */
   
:root {
    --background-color: rgb(231, 211, 186) ; /*Variável css*/
    --nav-fundo: rgb(34, 32, 32);
    --texto-default: #000000;
    --titulo-color: #5c2f05;
    --nav-color: #462e03;
    --nav-hover-color: #5e3902;
    --nav-mobile-background: #000000;
    --nav-dropdown-background: rgb(207, 176, 103);
    --nav-dropdown-color: #ebebeb;
    --nav-dropdown-hover-color: rgb(245, 242, 230); 
    --nav-bg-topbar: rgb(175, 131, 33);
    --nav-color2: #ebebeb;
    /* Elemento color só pra texto */
}

body {
    background: var(--background-color); /* cor fundo */
    color: var(--texto-default); /* cor dos textos */
}
/* 
nav {
    background: var(--nav-fundo);
}  */

a {
    text-decoration: none;
    transition: 0.3s;
}

/* HEADER */
.header {
    color: var(--texto-default);
    background: var(--background-color);
    box-shadow: 0px /* eixo x */ 5px /* eixo y */15px /* sombra */ rgba(0, 0, 0, 0.2);   /* Voltar aqui */
}

.header .topbar {
    background: var(--nav-bg-topbar);
    color: var(--nav-fundo);
    height: 40px;
}

.header .branding {
    min-height: 60px;
    padding: 10px 0;
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 36px;
    margin-right: 8px;
}

/* Nav menu desktop = Responsivo */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;

    }

    .navmenu ul {
        list-style: none; /* Remove as bolinhas */
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
   .navmenu li{ 
      position: relative;
   }
   .navmenu a{
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase; /* padroniza  o texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
   }
 
   .navmenu a i{
    font-size: 12px;
    line-height: 0;       /* volta dps */
    margin-left: 5px;
   }
}
   .navmenu li:hover>a, 
   .navmenu.active,
   .navmenu.active:focus{
    color: var(--nav-hover-color);
}
.navmenu .dropdown ul{
     margin: 0;
     padding: 10px 0;
     background: var(--nav-dropdown-background);
     display: block;
     position: absolute;
     visibility: hidden;
     left: 14px;
     top: 130%;
     opacity: 0;
     border-radius: 4px;
     z-index: 99;
     box-shadow: 0,0 30px bisque;
}
.navmenu .dropdown ul li{
    min-width: 200px;
}
.navmenu .dropdown ul a{
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-hover-color)
} 

.navmenu .dropdown ul a i{
    font-size: 12px;
}
.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover>a{
    color: red;
}
.navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%
    visibility: visible;
  }
.hero{
    padding: 0;
}
.hero .carousel {
    width: 100%;
    min-height: 70vh;
    padding: 0;
    margin: 0;
    position: relative;
}
.hero img{
    position: absolute;
    display: block;
    width: 100;
    height: 100;
    z-index: 1;
    inset: 0;
    object-fit: cover;
}
@media (max-height: 500px), 
       (max-width:500px){
        .hero .carousel{
         min-height: 100vh;
        }
       }
       